*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
	    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-style: italic;
    font-weight: 100;
}

h4{
  /* margin-top: 20px; */
  margin-bottom: 20px;
  color: darkgray;
  line-height: 0px;
}

body{
  background-color: #f8f8f8;
}

.wrapper{
  /* width: 400px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1); */

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 330px;;
  margin: 50px auto;
  padding: 2rem 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  
}

.form-group .check-msg {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.line{
  top: 0.45em;
  flex-shrink: 1;
  height: 1px;
  position:relative;
  flex-grow: 1;
  background-color: #b2aeae;
}

#input-line{
  display: flex;
  flex-direction: row;
}

.or{
  text-transform: uppercase;
  margin-right: 18px;
  padding-left: 0;
  padding-top: 0;
  flex-direction: column;
  margin-top: 0;
  border-left: 0;
  margin-bottom: 0;
  border-top: 0;
  padding-right: 0;
  margin-left: 18px;
  font-weight: 600;
  
  color: #b2aeae;
  align-items: stretch;
  position: relative;
  font-size: .8125rem;
  line-height: 1.1538;
}

.form-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: left;
  font-weight: border;
  
}



.form-group input[type='email']
 {
  font-size: 11px;
  padding: 10px;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}
.form-group input[type='phoneNumber']
 {
  font-size: 11px;
  padding: 10px;
  width: 100%;
  height: 35px;
}

button[type='submit'] {
  background-color: #ffbe7e;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 35px;
  padding: 10px 20px;
  width: 100%;
}

button[type='submit']:hover {
  background-color: #ffa954;
}

.input-group{
  margin-top: 20px;
}

.member{
  font-size: 0.9rem;
    margin-top: 1.4rem;
    color: dimgrey;
    font-weight: 800;
  
}

.member a{
color: red;
    font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}















.bottom{
  width: 330px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: -35px;
  text-decoration: none;
  height: 20px;
  
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.returnLogin{
  margin-top: -10px;
  font-size: 15px;
  color: dimgrey;
    font-weight: bold;

}

.returnLogin a{
	 color: red;
    font-weight: bold;
}

.success {
	color: green;
	margin-bottom: 10px;
}


.label-font{
	font-size: 14px;
    font-weight: 900;
}
