*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8f8f8;
}

.wrapper{
  /* width: 400px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1); */

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  margin: 50px auto;
  padding: 2rem 1rem;
  text-align: center;
}

h5{
  color: darkgray;
}

form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 5px;
  text-align: left;
}

.form-group input[type='text'],
.form-group input[type='password'],
.form-group input[type='email'],
.form-group input[type='number'] {
  border: none;
  border-bottom: 2px solid #e0e0e0;
  font-size: 13px;
  padding: 10px;
  width: 100%;
}

.form-group input[type='text']:focus,
.form-group input[type='password']:focus,
.form-group input[type='email']:focus,
.form-group input[type='number']:focus {
  outline: none;
  border-bottom: 2px solid rgb(255, 87, 87);
}

.form-group label {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input[type='radio'] {
  display: inline-block;
  margin-right: 5px;
}

.form-group input[type='radio'] + label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}

.form-group input[type='radio'] + label:last-of-type {
  margin-right: 0;
}

.form-group .check-msg {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

button[type='submit'] {
  background-color: dodgerblue;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
}

button[type='submit']:hover {
  background-color: rgb(255, 87, 87);
}

.form-group .check-msg {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  color: red;
}

.agree-wrap {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#agree {
  margin-left: 10px;
  position: relative;
  top: 1px;
}

/* 라디오, 체크박스 버튼의 색을 변경 */
:root {
  --main-color: rgb(255, 87, 87);
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: var(--main-color);
}

h1{
  margin-bottom: 1.2rem;
}

.agree-wrap{
  margin-top: 0.2rem;
}

.agree-wrap input{
  height: 1em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.agree-wrap label{
  font-size: 0.7rem;
}

.agree-wrap a{
  color: cornflowerblue;
  text-decoration: none;
}

.member{
  font-size: 0.7rem;
  margin-top: 1.4rem;
  color:dimgrey
}

.member a{
  color: cornflowerblue;
  text-decoration: none;
}

