* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

#main-header {
  background-color: #ACA4A4;
  position: fixed;
  height: 25px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#main-body {
  /* background-color: red; */
  width: 100%;
  padding-top: 25px;
  height: 2200px;
}

.body-side-bar {
  background-color: white;
  float: left;
  width: 13%;
  height: 100%;
  position: fixed;
  border-right: 1px solid #dbdbdb;
}

@media screen and (max-width: 768px) {
  .body-side-bar {
    font-size: 0px;
    width: 80px;
  }
}

.sidebar-menu {
  margin-top: 20px;
  display: block;
}

.sidebar-name {
  list-style: none;
  margin-top: 70px;
  margin-left: 30px;
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.sidebar-ul {
  list-style: none;

  margin-top: 50px;
  margin-left: 30px;
  font-size: 17px;
  height: 700px;
}

.sidebar-li {
  margin-bottom: 50px;
}

.sidebar-img {
  vertical-align: bottom;
  padding-right: 10px;
}

.sidebar-login {
  margin-left: 30px;
  list-style: none;
  margin-bottom: 20px;
}

.body-main-page {
  background-color: white;
  /* margin-left: 250px; */
  float: right;
  height: 100%;
  width: 87%;
}

#main-footer {
  background-color: blue;
  width: 100%;
  height: 50px;
}

.main-img {
  width: 300px;
  height: 300px;
  margin: 30px 5px;
}

.text-box {
  margin-top: -28px;
  line-height: 25px;
  margin-bottom: -25px;
  text-align: center;
}

.text-title{
  font-size: 18px;
  font-weight: 550;
}

.aaa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body-header {
  background-color: white;
  width: 1000px;
  margin: auto;
  height: 150px;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  justify-content: center;
}

.main-header-rank {
  display: flex;
}

.rank-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* background-color: white; */
  border: 1px solid #dbdbdb;
  margin-top: 70px;
  list-style: none;
  transform: translateY(-50%);
  margin-left: 10px;
  margin-right: 10px;
  
  display: block;
  overflow: hidden;
}

.rank-img img{
  width: 100%;
  height: auto;
  display: block;
  
}

.rank-round{
  display: block;
  position: relative;
}

.tropy-img {
  position: absolute;

  height: 50px;
  width: 50px;
  margin-top: 0px;
  margin-left: -50px;
}

.number {
  position: absolute;
  display: flex;
  
  left: 7px;
  top: 7px;
  color: #9b9898;
}

.main-body-bottom {
  background-color: white;
  width: 100%;
}

.main-body-bottom {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.category-menu {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  position: absolute;
  margin-left: 37px;
}

.category-box {
  height: 100px;
  width: 100px;
  border: 1px solid #9b9898;
  display: inline-block;
  position: relative;
  /* margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px; */
}

.category-img {
  height: 55px;
  width: 55px;
  background-color: #937062;
  margin-left: 25px;
  margin-top: 7px;
}

.category-menu .category-box {
  margin-top: -1px;
  margin-left: -1px;
}

.category-name {
  text-align: center;
  font-size: 12px;
  color: #888;
  font-weight: 400;
  line-height: 12px;
  margin-top: 10px;
}

#category-img1{
  margin-left: 30.5px;
}

/* 페이징 스타일 */
.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.paging > p {
  display: flex;
  list-style: none;
}



.paging a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  /* border-radius: 5px;
  border: 1px solid #888; */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.paging a:hover {
  /* background-color: #937062; */
  /* border-color: #937062; */
  color: #937062;
}

.paging .active {
  /* background-color: #333; */
  /* border-color: #333; */
  color: #fff;
}

.category-box .recipe-category a:hover{
  color:#937062;
  border-color: #937062;
}

footer {
  background: #aca4a4;
  margin-top: 86px;
  color: #fff;
  display: flex;
  width: 100%;
  height: 220px;
  align-items: center;
  flex-direction: column;
}

footer > div {
  /* width: 100%; */
  margin-left: 217px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom {
  /* background: #746b6b; */
  /* width: 100%; */
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin-right: 49px;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}
/* @media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  } */