* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

a {
	color: black;
	text-decoration: none;
}

.rank-a {
	
}

#main-header {
	/* background-color: #ACA4A4;
	position: fixed;
	height: 25px;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1; */
	
}

#main-body {
	/* background-color: red; */
	width: 100%;
	/* padding-top: 25px; */
	height: 2200px;
}

@media ( min-width : 10px) and (max-width: 700px) {
	.sidebar-name>a {
		display: none;
	}
}

/* 여기서부터 */
/* 사이드바 시작 */
.body-side-bar {
	background-color: white;
	float: left;
	width: 15%;
	height: 100%;
	position: fixed;
	border-right: 1px solid #dbdbdb;
}

@media screen and (max-width: 768px) {
	.body-side-bar {
		/*     font-size: 0px; */
		width: 80px;
	}
}

@media ( min-width : 10px) and (max-width: 700px) {
	.sidebar-name>a {
		display: none;
	}
}

.sidebar-menu {
	/* margin-top: 20px; */
	display: block;
	font-family: "GmarketSansMedium";
	display: block;
	padding-top: 17px;
	background-color: white;
	position: relative;
	z-index: 1;
	height: 100%;
}

.sidebar-name {
	list-style: none;
	margin-top: 70px;
	margin-left: 30px;
	font-size: 30px;
	display: block;
	cursor: pointer;
	font-family: "Josefin Slab", serif;
}

.sidebar-ul {
	list-style: none;
	margin-top: 50px;
	margin-left: 30px;
	font-size: 17px;
	height: 530px;
}

.sidebar-ul i {
	margin-right: 21px;
}

.sidebar-li {
	margin-bottom: 35px;
	/* height: 40px; */
	display: flex;
	align-items: center;
}

.sidebar-img {
	vertical-align: bottom;
	padding-right: 10px;
}

.sidebar-login {
	margin-left: 30px;
	list-style: none;
	margin-bottom: 20px;
}

.li-box {
	/* background-color: #44bae8; */
	width: 165px;
	height: 45px;
	margin-right: 5px;
	display: flex;
	align-items: center;
	border-radius: 20px;
}

.li-box:hover {
	background-color: #e7e9eb88;
}

.sidebar-img {
	vertical-align: bottom;
	padding-right: 10px;
	margin-left: 12px;
	width: 30px;
	height: 30px;
}
/* 사이드바 끝 */
/* 여기까지 */
.body-main-page {
	background-color: white;
	/* margin-left: 250px; */
	float: right;
	height: 100%;
	width: 87%;
}

#main-footer {
	/* background-color: blue; */
	width: 100%;
	height: 50px;
}

.main-img {
	width: 330px;
	height: 330px;
	margin: 30px 5px;
	/* cursor: pointer; */
}

.text-box {
	margin-top: -28px;
	line-height: 25px;
	margin-bottom: -25px;
	text-align: center;
}

.text-title {
	font-size: 18px;
	font-weight: 550;
}

.aaa {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.bbb {
	/* margin: 0 11px */
	
}

.main-body-header {
	background-color: white;
	width: 1000px;
	margin: auto;
	height: 150px;
	position: relative;
	border-bottom: 1px solid #dbdbdb;
	justify-content: center;
}

.main-header-rank {
	display: flex;
}

.rank-img {
	/*   height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-top: 70px;
  list-style: none;
  transform: translateY(-50%);
  margin-left: 10px;
  margin-right: 10px;
  
  display: block;
  overflow: hidden; */
	
}

.rank-img img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.rank-round {
	display: flex;
	position: relative;
	height: 124px;
	width: 100%;
	/* border-radius: 50%; */
	/* background-color: white; */
	/* border: 1px solid #dbdbdb; */
	margin-top: 20px;
	list-style: none;
	/* transform: translateY(-50%); */
	/* margin-left: 10px; */
	/* margin-right: 10px; */
	/* display: block; */
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.tropy-img {
	position: absolute;
	height: 50px;
	width: 50px;
	margin-top: 0px;
	margin-left: -50px;
}

.number {
	position: absolute;
	display: flex;
	left: 7px;
	top: 7px;
	color: #9b9898;
}

.main-body-bottom {
	background-color: white;
	width: 100%;
}

.main-body-bottom {
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.category-menu {
	display: flex;
	flex-wrap: wrap;
	width: 850px;
	position: absolute;
	margin-left: 37px;
}

.category-box {
	height: 100px;
	width: 100px;
	border: 1px solid white;
	display: inline-block;
	position: relative;
	/* margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px; */
}

.category-box.selected {
	border: 1px solid red;
}

.category-menu .category-box {
	margin-top: 2px;
	margin-left: 2px;
}

.category-img {
	height: 55px;
	width: 55px;
	background-color: #937062;
	margin-left: 25px;
	margin-top: 7px;
}


.category-name {
	text-align: center;
	font-size: 12px;
	color: #888;
	font-weight: 400;
	line-height: 12px;
	margin-top: 10px;
}

#category-img1 {
	margin-left: 30.5px;
}

/* 페이징 스타일 */
.paging {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.paging>p {
	display: flex;
	list-style: none;
}

.btnColor {
	color: #2c2727;
}

.paging a {
	color: #888;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	margin: 0 5px;
	/* border-radius: 5px;
  border: 1px solid #888; */
	transition: background-color 0.3s ease, color 0.3s ease;
}

.paging a:hover {
	/* background-color: #937062; */
	/* border-color: #937062; */
	color: #937062;
}

.paging .active {
	/* background-color: #333; */
	/* border-color: #333; */
	color: #fff;
}

.category-box .recipe-category a:hover {
	color: #937062;
	border-color: #937062;
}

footer {
	background: #aca4a4;
	margin-top: 86px;
	color: #fff;
	display: flex;
	width: 100%;
	height: 220px;
	align-items: center;
	flex-direction: column;
}

footer>div {
	/* width: 100%; */
	margin-left: 217px;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 2.1rem;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #cacdd2;
}

.footer-bottom {
	/* background: #746b6b; */
	/* width: 100%; */
	padding: 20px;
	padding-bottom: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-bottom p {
	float: left;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
	margin-right: 49px;
}

.footer-bottom p a {
	color: #44bae8;
	font-size: 16px;
	text-decoration: none;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: 0.4;
	font-weight: 200;
}

.footer-menu {
	float: right;
}

.footer-menu ul {
	display: flex;
}

.footer-menu ul li {
	padding-right: 10px;
	display: block;
}

.footer-menu ul li a {
	color: #cfd2d6;
	text-decoration: none;
}

.footer-menu ul li a:hover {
	color: #27bcda;
}
/* @media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  } */

/* 검색창 */
.sub-find {
	background-color: white;
	width: 530px;
	height: 100%;
	position: absolute;
	top: 25px;
	left: -312px;
	border-right: 1px solid #dbdbdb;
	border-radius: 10px;
	box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
	z-index: -1;
}

.sub-find2 {
	background-color: white;
	width: 530px;
	height: 100%;
	position: absolute;
	top: 25px;
	left: -312px;
	border-right: 1px solid #dbdbdb;
	border-radius: 10px;
	box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
	z-index: -1;
}

.sub-find__close {
	left: 231px;
}

.sub-find2__close {
	left: 231px;
}

.qqq {
	font-size: 30px;
	padding-left: 21px;
	padding-top: 15px;
}

.search-box {
	/* background-color: yellow; */
	height: 200px;
	justify-content: space-around;
}

.search-box2 {
	/* background-color: yellow; */
	height: 75px;
	justify-content: space-around;
	border-bottom: 1px solid rgb(217, 209, 209);
}

.alarm {
	/* background-color: beige; */
	width: 100%;
	height: 75px;
}

.boxboxbox {
	height: 390px;
	width: 100%;
}

.boxboxbox2 {
	height: 390px;
	width: 100%;
}

.alarm-box {
	/* background-color: yellow; */
	width: 100%;
	height: 645px;
	overflow-y: scroll;
}

.new-alarm {
	width: 100%;
	height: 390px;
	border-bottom: 1px solid rgb(217, 209, 209);
}

.new-alarm2 {
	width: 100%;
	height: 350px;
	border-bottom: 1px solid rgb(217, 209, 209);
}

/* .sub-find {
  transform: translateX(0px);
} */
.find-btn:focus {
	outline: none;
}

.recent-searches {
	/* background-color: rebeccapurple; */
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
}

.recent-searches2 {
	padding: 25px;
}

.recent-searches-box {
	/* background-color: yellow; */
	width: 100%;
	height: 660px;
	overflow-y: scroll;
}

.search-man {
	display: flex;
	width: 100%;
	/* background-color: green; */
	height: 70px;
	cursor: pointer;
}

.search-man:hover {
	background-color: #f5f8fb;
}

.alarm-btn {
	width: 68px;
	height: 30px;
	border-radius: 60px;
	border: none;
	cursor: pointer;
}

.alarm-btn:hover {
	background-color: #bfc1c4;
}

.man-left {
	display: flex;
	width: 122px;
	height: 100%;
	/* background-color: yellow; */
	align-items: center;
	justify-content: space-around;
}

.man-left2 {
	display: flex;
	width: 105px;
	height: 100%;
	/* background-color: yellow; */
	align-items: center;
	justify-content: space-around;
}

.man-img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.man-right {
	/* background-color: red; */
	width: 291px;
	height: 100%;
}

.man-id {
	width: 100%;
	height: 32px;
	display: flex;
	align-items: flex-end;
	font-size: 15px;
	font-weight: bolder;
}

.alarm-date {
	padding-left: 26px;
	height: 30px;
	padding-top: 10px;
}

.alarm-date2 {
	/* background-color: rebeccapurple; */
	padding-left: 26px;
	height: 30px;
	padding-top: 10px;
}

.alarm-font {
	font-weight: bold;
	color: black;
}

.alarm-id {
	font-weight: normal;
	color: grey;
}

.alarm-right {
	width: 273px;
	height: 100%;
	display: flex;
	align-items: center;
}

/* .man-id2 {
font-size: 20px;
font-weight: bold;
padding-left: 10px;
} */
.man-name {
	/* background-color: green; */
	width: 100%;
	height: 22px;
	display: flex;
	align-items: flex-start;
	padding-top: 5px;
	font-size: 12px;
	color: #8a8b8c;
}

/* .man-name2 {
padding-top: 5px;
} */
.delete-btn {
	/* background-color: yellow; */
	width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.delete-btn3 {
	width: 90px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.delete-btn2 {
	font-size: 30px;
	color: #aaa;
	padding-bottom: 10px;
	cursor: pointer;
}

.nones {
	display: none;
	/* transition: left 0.3s ease; */
	transition: transform 0.3s ease-in-out;
	transform: translateX(0px);
	/* transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1); */
}

/* .nones {
visibility: hidden;
opacity: 0;
transition: all 0.1s ease;
} */
::-webkit-scrollbar {
	width: 0;
	height: 0;
}

/* 사이드바 css수정 & 추가 */
.drop-down {
	border-radius: 12px;
	background-color: #ebedf0;
	height: 50px;
	border: none;
}

.search-box3 {
	display: flex;
	width: 100%;
	/* background-color: blue; */
	height: 126px;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid rgb(217, 209, 209);
}

.find-btn {
	width: 348px;
	height: 50px;
	font-size: 20px;
	background-color: #ebedf0;
	border-radius: 10px;
	border: none;
	padding-left: 20px;
}

.search-btn {
	background-color: #ebedf0;
	border-radius: 6px;
	width: 59px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.search-btn:hover {
	background-color: #cacdd2;
}

/* 사이드바 css수정 & 추가 */





