* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

a {
	color: black;
	text-decoration: none;
}

button {
	border: none;
	background: transparent;
	color: inherit;
	font: inherit;
	cursor: pointer;
	padding: 0;
	outline: none;
}

#body-main {
	width: 100%;
	height: 100%;
	font-family: "GmarketSansMedium";
}

#main-header {
	/*   background-color: rgb(189, 189, 189);
    position: fixed;
    height: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1; */
	
}

#main-body {
	width: 100%;
	height: 1350px;
}

.main-top {
	width: 830px;
	height: 244px;
	margin: auto;
	/* margin-right: 10px; */
	/* display: flex; */
}

.main-page-tbb {
	width: 100%;
	height: 100%;
}

.img-box {
	width: 167px;
	height: 167px;
	display: flex;
	align-items: stretch;
	position: relative;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.profile-image {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.manager-id {
	font-size: 17px;
	font-family: "GmarketSansMedium", Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}

.img-box:hover {
	background-size: 120%;
	background-repeat: no-repeat;
	/* background-size: cover; */
}

.imgbox-div {
	width: 200px;
	height: 200px;
}

.manage-member-click, .manage-post-click, .manage-pay-click {
	cursor: pointer;
}

.follow-box>p :hover, .manage :hover {
	font-style: italic;
}

.nickname-box {
	width: 300px;
	height: 50px;
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
}

.namebox {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
}

.namebox>h6 {
	margin-left: 20px;
}

.follow-box {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-around;
	font-family: "Noto Sans KR", sans-serif;
}

.follow-box>p {
	font-size: 15px;
}

.follow-box>p>span {
	font-weight: bolder;
	margin: 0 4px;
}

.profile-box {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 20px;
}

.profile {
	display: flex;
	justify-content: space-evenly;
	margin-top: 18px;
	width: 100%;
	height: 233px;
	align-items: center;
	/* margin-left: -36px; */
}

.profile-img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	float: left;
	margin: 38px 10px 10px 145px;
}

.main-banner {
	background-color: rgb(189, 189, 189);
	width: 830px;
	height: 45px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
}

.chart {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.myChart-1 {
	margin-top: 63px;
}

.myChart-2 {
	margin-top: 135px;
}

#설정 {
	width: 30px;
	height: 30px;
	display: none;
}

.manage-menu {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
}

#manage-menu-text {
	display: flex;
	font-weight: bold;
	font-family: "GmarketSansMedium";
}

.main-bottom {
	width: 1000px;
	height: 800px;
	margin: auto;
}

.manage-member {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 700px;
	margin-top: 14px;
}

.member-serch {
	height: 36px;
	width: 287px;
	border: 1px black;
	background: #ffffff;
	display: flex;
	align-items: center;
	margin-top: 14px;
	margin-left: 535px;
	border-radius: 20px;
}

.member-serch>input {
	font-size: 14px;
	width: 505px;
	border: 0px;
	margin-left: 50px;
	height: 23px;
	margin-bottom: 4px;
}

.member-serch>button {
	width: 47px;
	height: 100%;
	border: 262px;
	outline: none;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
	margin-top: 2px;
}

.member-main {
	width: 100%;
	height: 700px;
	margin-top: 15px;
	background-color: #ffffff;
	border-radius: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	display: none;
}

.manage-post {
	width: 100%;
	height: 700px;
	margin-top: 15px;
	background-color: #ffffff;
	border-radius: 25px;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	display: none;
}

.manage-payment {
	width: 1050px;
	height: 700px;
	margin-top: 15px;
	background-color: #ffffff;
	border-radius: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	display: none;
}

.member-serch>button>a>img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.payment-table, .post-table, .member-table {
	border-collapse: collapse;
	margin-top: 7px;
	width: 100%;
	border: 1px #a39485 solid;
	font-size: 0.9em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
}

.post-serch {
	height: 36px;
	width: 287px;
	border: 1px black;
	background: #ffffff;
	display: flex;
	align-items: center;
	margin-top: 14px;
	margin-left: 535px;
	border-radius: 20px;
}

.post-serch>input {
	font-size: 14px;
	width: 203px;
	border: 0px;
	margin-left: 50px;
	height: 23px;
}

.post-serch>button {
	width: 47px;
	height: 100%;
	border: 262px;
	outline: none;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
	margin-top: 1px;
}

.post-serch>button>a>img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.payment-serch {
	height: 36px;
	width: 287px;
	border: 1px black;
	background: #ffffff;
	display: flex;
	align-items: center;
	margin-top: 14px;
	margin-left: 535px;
	border-radius: 20px;
}

.payment-serch>input {
	font-size: 14px;
	width: 203px;
	border: 0px;
	margin-left: 50px;
	height: 23px;
}

.payment-serch>button {
	width: 47px;
	height: 100%;
	border: 262px;
	outline: none;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 20px;
	margin-top: 1px;
}

.payment-serch>button>a>img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

tbody {
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	text-align: end;
	margin-top: 7px;
}

select {
	border: none;
	font-family: inherit;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
	font-size: 20px;
}

select:focus {
    outline: none;
    border: none;
  }

th, td {
	text-align: center;
	padding: 8px;
}

tr {
	height: 50px;
	/* vertical-align: top; */
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 111px;
}

th {
	border-bottom: 1px solid #a39485;
}

td {
	border-bottom: 1px solid #e5e5e5;
}

.member-table tr>th:nth-child(1), .member-table tr>td:nth-child(1) {
	width: 50px;
	/* margin-right: px; */
}

.member-table tr>th:nth-child(2), .member-table tr>td:nth-child(2) {
	width: 200px;
}

.member-table tr>th:nth-child(3), .member-table tr>td:nth-child(3) {
	width: 100px;
}

.member-table tr>th:nth-child(4), .member-table tr>td:nth-child(4) {
	width: 200px;
}

.member-table tr>th:nth-child(5), .member-table tr>td:nth-child(5) {
	width: 300px;
}

.member-table tr>th:nth-child(6), .member-table tr>td:nth-child(6) {
	width: 50px;
}

.member-table tr>th:nth-child(7), .member-table tr>td:nth-child(7) {
	width: 50px;
}

.member-table tr>th:nth-child(8), .member-table tr>td:nth-child(8) {
	width: 80px;
}

.member-table tr>th:nth-child(9), .member-table tr>td:nth-child(9) {
	width: 50px;
}

.post-table tr>th:nth-child(1), .post-table tr>td:nth-child(1) {
	width: 50px;
	margin-right: 10px;
}

.post-table tr>th:nth-child(2), .post-table tr>td:nth-child(2) {
	width: 200px;
}

.post-table tr>th:nth-child(3), .post-table tr>td:nth-child(3) {
	width: 200px;
}

.post-table tr>th:nth-child(4), .post-table tr>td:nth-child(4) {
	width: 50px;
}

.post-table tr>th:nth-child(5), .post-table tr>td:nth-child(5) {
	width: 150px;
}

.post-table tr>th:nth-child(6), .post-table tr>td:nth-child(6) {
	width: 50px;
}

/* 결제  */
.payment-table tr>th:nth-child(1), .payment-table tr>td:nth-child(1) {
	width: 50px;
}

.payment-table tr>th:nth-child(2), .payment-table tr>td:nth-child(2) {
	width: 200px;
}

.payment-table tr>th:nth-child(3), .payment-table tr>td:nth-child(3) {
	width: 100px;
}

.payment-table tr>th:nth-child(4), .payment-table tr>td:nth-child(4) {
	width: 100px;
}

.payment-table tr>th:nth-child(5), .payment-table tr>td:nth-child(5) {
	width: 100px;
}

.payment-table tr>th:nth-child(6), .payment-table tr>td:nth-child(6) {
	width: 50px;
}

.payment-table tr>th:nth-child(7), .payment-table tr>td:nth-child(7) {
	width: 100px;
}

.payment-table tr>th:nth-child(8), .payment-table tr>td:nth-child(8) {
	width: 100px;
}

.payment-table tr {
	margin-left: 47px;
}

.product, .order {
	width: 100%;
	border: 1px #a39485 solid;
	font-size: 12px;
	display: none;
}

.order .product td {
	padding: 0px;
}

.button {
	background-color: rgb(189, 189, 189);
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 706px;
	margin-top: 30px;
}

/* 페이징 스타일 */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.pagination>ul {
	display: flex;
	list-style: none;
}

.pagination a {
	color: #bdbdbd;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	margin: 0 5px;
	border-radius: 5px;
	border: 1px solid #bdbdbd;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
	background-color: #937062;
	border-color: #937062;
	color: #fff;
}

.pagination .active {
	background-color: #bdbdbd;
	border-color: #bdbdbd;
	color: #fff;
}
/* .paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .paging > p {
    display: flex;
    list-style: none;
  }
  
  .paging a {
    color: #888;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
  
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .paging a:hover {
    color: #937062;
  }
  
  .paging .active {
    color: #fff;
  }
   */
.category-box .recipe-category a:hover {
	color: #937062;
	border-color: #937062;
}

.button:hover {
	background-color: #f4f4f2;
}

/* 사이드 바 */
.body-side-bar {
	background-color: white;
	float: left;
	width: 15%;
	height: 100%;
	position: fixed;
	border-right: 1px solid #dbdbdb;
}

@media screen and (max-width: 768px) {
	.sidebar-menu {
		font-size: 0px;
		width: 80px;
	}
}

@media ( min-width : 10px) and (max-width: 700px) {
	.sidebar-name>a {
		display: none;
	}
}

.sidebar-menu {
	margin-top: 20px;
	display: block;
}

.sidebar-ul {
	list-style: none;
	margin-top: 50px;
	margin-left: 30px;
	font-size: 17px;
	height: 530px;
}

.sidebar-name {
	list-style: none;
	margin-top: 70px;
	margin-left: 30px;
	font-size: 30px;
	display: block;
	cursor: pointer;
	font-family: "Josefin Slab", serif;
}

.sidebar-ul i {
  margin-right: 21px;
  margin-left: 15px;
}

.sidebar-li {
	margin-bottom: 35px;
	/* height: 40px; */
	display: flex;
	align-items: center;
}

.sidebar-img {
	vertical-align: bottom;
	padding-right: 10px;
}

.sidebar-login {
	margin-left: 30px;
	list-style: none;
	margin-bottom: 20px;
}

.li-box {
	/* background-color: #44bae8; */
	width: 165px;
	height: 45px;
	margin-right: 5px;
	display: flex;
	align-items: center;
	border-radius: 20px;
}

.li-box:hover {
	background-color: #e7e9eb88;
}

.sidebar-img {
	vertical-align: bottom;
	padding-right: 10px;
	margin-left: 12px;
	width: 30px;
	height: 30px;
}

.sidebar-login {
	margin-left: 30px;
	list-style: none;
	margin-bottom: 20px;
}

/* ======================================= */
.body-main-page {
	float: right;
	height: 100%;
	width: 80%;
}

#main-footer {
	background-color: rgb(189, 189, 189);
	width: 100%;
	height: 50px;
}

.main-body-bottom {
	background-color: rgb(189, 189, 189);
	width: 100%;
	height: 5%;
}

footer {
	background: #aca4a4;
	margin-top: 86px;
	color: #fff;
	display: flex;
	width: 100%;
	height: 220px;
	align-items: center;
	flex-direction: column;
}

footer>div {
	margin-left: 217px;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #cacdd2;
}

.footer-bottom {
	padding: 20px;
	padding-bottom: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-bottom p {
	float: left;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
	margin-right: 49px;
}

.footer-bottom p a {
	color: #44bae8;
	font-size: 16px;
	text-decoration: none;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: 0.4;
	font-weight: 200;
}

.footer-menu {
	float: right;
}

.footer-menu ul {
	display: flex;
}

.footer-menu ul li {
	padding-right: 10px;
	display: block;
}

.footer-menu ul li a {
	color: #cfd2d6;
	text-decoration: none;
}

.footer-menu ul li a:hover {
	color: #27bcda;
}

.btn-span i {
	color: black;
}

.ingredient-insert {
	font-size: 17px;
}

/* @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    } */

/* #live {
    width: 300px;
    height: 200px;
  } */
/* 
  .profile-picture canvas {
    width: 300px;
    height: 300px;
  } */
  
  
  .logo-img{
	width: 160px;
    height: 75px;
}

.sidebar-name {
	list-style: none;
	margin-top: 25px;
	margin-left: 30px;
	font-size: 30px;
	display: block;
	cursor: pointer;
	font-family: "Josefin Slab", serif;
}
