@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
 font-family: 'NanumSquareNeo-Variable';
}

.container{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.close-btn{
  font-weight: bold;
  font-size: 25px;
  color: white;
  position: absolute;
  right: 2%;
  top: 2%;
}

.read-box-wrap{
  width: 85%;
  height: 94%;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  display: flex;
  position: relative;
}

button{
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  outline: none;
}

input{
  border: none;
  outline: none;
}


textarea{
  border: none;
  outline: none;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.read-imgs-container{
  height: 100%;
  width: 60%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.read-imgs, .read-imgs>li,
.read-img-box, .read-img,.read-img-controller-box{
  width: 783.963px;
  height:100%;
}



.read-imgs >li{
  float: left;
}

.read-imgs{
  display: flex;
  position : absolute;
}

.read-img-controller-box{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}

.read-img-controller-box i{
  font-size: 35px;
  color: rgba(233, 231, 231, 0.7);
}

.read-content-wrap{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.writer-info-box{
  width: 100%;
  height: 9%;
  display: flex;
  padding: 5px;
  font-family: 'Josefin Slab', serif;/*----로고글씨체----*/

}

.writer-profile{
  height: 100%;
  width: 15%;
}

.writer-profile-img{
     width: 40px;
    height: 40px;
    border-radius: 50%;
       margin-top: 15%;
    margin-left: 10%;
}

.writer-id{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
}

.more-btn{
  font-size: 25px;
  margin-right: -2px;
}

.read-main-content{
  width: 95%;
  height: 445px;
  font-family: 'Nanum Gothic', sans-serif;
}
.content-msg-box{
  height: 60%;
  font-size: 5px;
  color: black;
  overflow-y: scroll;
  padding: 5px 5px;
 /*  white-space: pre-line; */
 
}

.content-choice-box{
  width: 100%;
  height: 18px;
  display: flex;
  align-items: center;
}

.content-choice-box button{
  font-size: 13px;
  font-weight: bold;
}

.ingredient-btn-box{
  margin: 0px 12px;
}

.recipe-btn-box{
  margin-left: 10px;
  border-left-style: inset;
  padding-left: 5px;
}





.content-box{
  width: 100%;
  height: 58%;
  padding-left: 10px;
}

.read-content-title{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: center;
  font-size: 15px;
  font-family: none;
  margin-top: -66px;
}


.ingredient-box{
  overflow-y: scroll;
  height: 150px;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.recipe-container{
  overflow-y: scroll;
  height: 60%;
  width: 100%;
  display: none;
  flex-direction: column;
}

.read-comment-container{
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: none;
}

.read-comment-box{
  width: 100%;
  height: 50px;
  display: flex;
  margin: 10px 0px;
  align-items: center;
}

.comment-writer-img-box{
  width: 40px;
  height: 40px;
}

.comment-writer-profile-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}

.comment-content-box{
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.comment-writer-id{
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  height: 35%;
  margin-bottom: -13px;
}

.read-comment-content{
  width: 100%;
  height: 45%;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: pre-line;
  margin-top: 5px;
}

.read-comment-more{
  width: 100%;
  height: 20%;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  color: gray;
  margin-top: 5px;
}

.comment-delete{
  margin-left: 10px;
}



.recipe-category-wrap{
  width: 100%;
  height: 20%;
}

.categories{
  display: flex;
  margin: 5px;
}


.category-list{
      color: white;
    background-color: rgb(116 108 97 / 57%);
    border: 2px none #8a8a8a65;
    border-radius: 15px;
    font-weight: 100;
    margin-right: 5px;
    padding: 5px 5px;
    font-size: 13px;
}

.main-content{
  width: 100%;
  height: 95%;
  font-size: 10px;
  margin-top: 5px;
  white-space: pre-line;
}






.ingredient-list{
  width: 80%;
  margin-left: 40px;
}

.ingredient-title{
  font-weight: bolder;
  border-bottom: 1px solid rgba(165, 164, 164, 0.296) ;
  width: 100%;
  height: 30px;
  font-size: 15px;
  text-align: end;
}

.ingredient-info{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px;
  font-size: 11px;
}




.comment-form-container{
  width: 100%;
  height: 25%;
  position: relative;
}

.comment-form{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 36px;
}

.reader-act-section{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
      margin-top: -40px;
}

.like-count-box{
  height: 20%;
  width: 100%;
  display: flex;
}

.like-count-btn{
  font-size: 11px;
  padding-left: 10px;
  font-weight: bold;
}





div.post-view-count-box{
  margin: 0px 10px;
  width: 32px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-box,.comment-btn-box,
.buy-box,.save-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  height: 40px;
  width: 40px;
}

.like-box:hover ,.comment-btn-box:hover ,
.buy-box:hover ,.save-box:hover, 
.more-btn:hover, .writer-link:hover{
  color: rgba(75, 75, 75, 0.63);
} 






.save-box{
  margin-left: auto;
}


.date-box{
  width: 100%;
  height: 10%;
  display: flex;
  font-size: 7px;
  align-items: center;
  padding-left: 12px;
  color: gray;
  padding-bottom: 2px;
}



.comment-wrap{
  width: 100%;
  height: 38.5%;
  border-top: 1px solid rgba(165, 164, 164, 0.296);
  display: flex;
  
  }





.comment-box{
  height: 99%;
  width: 95%;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-post-btn{
  color: #383838;
  margin-right: 1px;
  
}

.comment-input{
  font-size: 11px;
  font-weight: bolder;
  width: 85%;
  height: 35%;
  white-space: pre-wrap;
  overflow: hidden;
  resize: none;
}




.comment-post-btn:hover{
  color: black;
}

/* 게시물삭제 모달부분 스타일 */
   .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
    }
    
    .modal-content {
      background-color: #262626;
      color: white;
      border-radius: 10px;
      width: 80%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
      margin-bottom: 100px;
    }


    .post-delete-btn {
      background-color: transparent;
      color: red;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px 20px;
    }

    .modal-cancel-btn {
      color: white;
      background-color: transparent;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px 20px;
    }

    .modal h3{
      margin-bottom: 20px;
    }



/*  css 추가 */


::-webkit-scrollbar {
   width: 0;
   height: 0;
}






