@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html, body {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}

.write-box-globar-wrap {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wirte-box-wrap {
	width: 1147px;
	height: 678px;
	border: 16px solid white;
	border-radius: 17px;
	background-color: white;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.write-box-header {
	height: 6%;
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.cancel-btn {
	/* padding-right: 300px; */
	width: 10%;
	height: 100%;
	cursor: unset;
	
}

.fa-arrow-left {
	font-weight: bold;
	font-size: large;
	cursor: pointer;
}

.write-box-header-content {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.write-box-header-share {
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.share-button {
	background-color: white;
	color: rgb(56 56 56 / 76%);
	border-style: none;
	font-weight: bolder;
	font-size: 20px;
	cursor: pointer;
	margin-right: 10px;
}

.write-box-content {
	height: 94%;
	width: 100%;
	display: flex;
	border-top: 1px solid rgba(120, 119, 119, 0.674);
}

.image-upload-wrap {
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	border-right: 1px solid rgba(120, 119, 119, 0.674);
}

.img-upload-section {
	width: 100%;
	height: 100%;
}

.image-upload-guide {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fa-image {
	font-size: 100px;
	color: rgba(88, 88, 88, 0.789);
}

.file-input {
	position: absolute;
	width: 100%;
	opacity: 0;
	height: 100%;
	left: 0;
	top: 0;
}

.file-input-msg {
	color: rgba(88, 88, 88, 0.789);
}

.please {
	position: absolute;
	opacity: 0;
}

/* 사용자작성 게시물 부분 */
.write-box-content-wrap {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
}

.wirte-box-main-user-info {
	/* width: 100%;
	height: 8%; */
	display: flex;
	padding: 9px;
	/* border-bottom: 1px solid rgba(120, 119, 119, 0.674); */
}

.write-box-user-profile-img {
	height: 35px;
	width: 35px;
}

.write-box-user-profile-img .profile-img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.write-box-user-id {
	height: 100%;
	width: 86.48%;
	display: flex;
	align-items: center;
	padding-left: 14px;
}

/* 레시피에 필요한 재료, 체크박스 */
.write-box-main-content {
	height: 92%;
	width: 100%;
	color: rgb(52, 52, 52);
	font-weight: bold;
	max-height: 2000px;
	padding-left: 15px;
}

.write-box-main-content input {
    width: auto;
    font-size: 13px;
    background-color: white;
    border: 1px solid #a2a2a2a8;
    border-radius: 6px;
    margin: 5px 0;
}

.content-wrap {
	margin: -11px 5px 14px -3px;
	font-size:15px;
}

.content-title {
	/* width: 100px; */
	height: 24px;
	padding-left: 19px;
}

.category {
	display: none;
	cursor: auto;
}

.category-list {
	color: rgb(145 88 40 / 79%);
	background-color: white;
	border: 0.2px solid #acacac66;
	border-radius: 9px;
	text-align: center;
	/* font-weight: bolder; */
	margin-right: 7px;
	padding: 4px;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
}

.categories-wrap {
	display: flex;
	width: 100%;
	margin: 4px 0;
}

ul {
	list-style: none;
}

.categories {
	display: flex;
}

/* 미리보기 */
/* 파일이 추가되면 display가 바뀐다. */
.image-preview-wrap {
	height: 100%;
	width: 60%;
	display: none;
}

.preview-img-controller-box {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 10;
}

.preview-list {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	left : 0;
	top : 0;
}

.wirte-box-imgs-prev {
	height: 10%;
	position: absolute;
	left : 0;
}

.wirte-box-imgs-next {
	height: 10%;
	position: absolute;
	right : 0;
}

button {
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	padding: 0;
	outline: none;
	margin-right: -8px;
}

.img-prev-next-button {
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	padding: 0;
	outline: none;
}

.img-prev-next-button>i {
	font-size: 35px;
	color: rgba(88, 88, 88, 0.789);
}

.preview-img-controller-box, .preview-image {
	height: 100%;
	position: relative;
	justify-content: center;
	display: flex;
	align-items: center;
	width:720px;
}

.preview-list>li {
	width : 720px;
	height: 100%;
	display: flex;
	position : relative;
}

.img-cancel-btn {
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	padding: 0;
	outline: none;
	position: absolute;
	font-size: 35px;
	font-weight: bold;
	color: rgba(88, 88, 88, 0.789);
	right: 5px;
	top : 0;
}

/* 내용 스타일 */
textarea {
	resize: none;
	height: 100px;
	width: 382px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	overflow-y: scroll;
	font-family: 'Nanum Gothic', sans-serif;
}
/*  */
.ingredient-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Nanum Gothic', sans-serif;
}

.ingredient-items-container {
	flex: 1;
}

.ingredient-item {
	margin-top: 10px;
}

.ingredient-title {
	padding: 5px;
	width: 157px;
	font-size: 16px;
	width: auto;
}

.ingredient-element {
	display: flex;
}

.ingredient-wrap .ingredient-name, .ingredient-wrap .ingredient-quantity
	{
	padding: 5px;
    width: 150px;
    font-size: 13px;
    background-color: white;
    border: 1px solid #a2a2a2a8;
    border-radius: 6px;
    margin: 10px 0px;
}

.ingredient-wrap #select {
	    padding: 5px;
    width: 108px;
    font-size: 13px;
    background-color: white;
    border: 1px solid #a2a2a2a8;
    border-radius: 6px;
    margin: 5px 0;
}

.select-ingredient {
	padding: 5px;
	width: 160px;
	font-size: 13px;
	
	border: 1px solid #a2a2a2a8;
	border-radius: 9px;
	margin: 9px 0;
}

.ingredient-quantity-li {
	margin: 0px 15px;
}

.element-edit-buttons {
	display: flex;
	width: 20%;
	/* justify-content: space-around; */
	align-items: center;
}

.element-minus {
	margin: 0px -70px;
}

.item-edit-buttons {
	width: 100%;
	display: flex;
}

.item-plus {
	margin-left:44px;
}

.ingredient-guide-msg {
	display: inline;
}

.msg1 {
	margin: 17px 121px;
}

/*css 추가 */
.fa-solid {
	margin-right: 85px
}

.fa-regular{
	color : #eb8828b8;
}

.file-input-msg{
	color : #eb8828b8;
}

.category-list:hover{
	background-color: rgb(255 143 0/ 87%);
	color: white;
}
