@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

#main-header {
 /*  
  position: fixed;
  height: 25px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1; */
}

#main-body {
  /* background-color: red; */
  width: 100%;
  height: 1190px;
}

.main-top {
  /* background-color: brown; */
  width: 830px;
  height: 300px;
  margin: auto;
}

.profile-picture {
  /* background-color: antiquewhite; */
  width: 520px;
  height: 215px;
  margin: 25px auto;
  display: flex;
}

.img-box {
  /* background-color: aqua; */
  width: 230px;
  height: 215px;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 100px;
  /* margin: auto; */
}

.aaa {
  /* background-color: tomato; */
  width: 290px;
  height: 215px;
}

.name-box {
  /* background-color: rgb(213, 167, 167); */
  width: 290px;
  height: 60px;
  display: flex;
}

.nickname-box {
  /* background-color: springgreen; */
  height: 60px;
  width: 160px;
  display: flex;
  align-items: center;
}

.nickname {
  line-height: 100%;
  font-size: 18px;
}

.profile-btn {
  height: 60px;
  width: 115px;
  display: flex;
  align-items: center;
}

/* .profile-btn2 {
 
  border: none;
  border-radius: 5px;
  background-color:rgb(0, 149, 246);
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  
} */
.followBtnOff:hover {
  background-color:#fd8216;
} 

.followBtnOn{
	display: inline-block;
  padding: 9px 22px;
  border: none;
  border-radius: 5px;
  background-color:#fd8216;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600
}
.followBtnOff{
	display: inline-block;
  padding: 8px 19px;
  border: none;
  border-radius: 5px;
  background-color:#ffcd00;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}
/*=======================================================*/

.follow-box {
  /* background-color: yellow; */
  width: 290px;
  height: 60px;
  display: flex;
}

.post,
.follower,
.following {
  font-size: 15px;
  /* font-weight: bolder; */
  
}

.cnt {
  font-weight: bolder;
}
.followCnt{
	 font-weight: bolder;
	
}
.post-cnt {
  /* background-color: snow; */
  height: 50px;
  width: 85px;
  display: flex;
  align-items: center;
}

.follower-cnt {
  /* background-color: chartreuse; */
  height: 50px;
  width: 110px;
  display: flex;
  align-items: center;
}

.following-cnt {
  /* background-color: gold; */
  height: 50px;
  width: 101px;
  display: flex;
  align-items: center;
}

.real-name {
  /* background-color: violet; */
  width: 290px;
  height: 28px;
  display: flex;
  align-items: center;
}

.name {
  font-size: 13px;
}

.introduce {
  /* background-color: aqua; */
  width: 290px;
  height: 130px;
  margin-top: 10px;
}

.introduce-txt {
  font-size: 11px;
}

.main-banner {
  /* background-color: violet; */
  width: 830px;
  height: 45px;
  margin: auto;
  border-top: solid 1px  #ffb27e;
}

.banner-box {
  /* background-color: aqua; */
  width: 177px;
  height: 100%;
  margin: auto;
  display: flex;
}

.banner1 {
  /* background-color: red; */
  width: 39px;
  height: 100%;
  display: flex;
  align-items: center;
  /* border-top: solid 2px #7f8184; */
  margin: 0 75px 0 63px;
}
/* .banner-name:hover {
  background-color: #414448;
} */

.post-thumbnail {
  color: #7f8184;
  font-size: 13px;
  margin: auto;
}

/* 상대방 페이지라 게시물만 표시 */
/* .banner2 {
  background-color: orange;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: solid 2px #7f8184;
} */
.post-thumbnail2 {
  color: #7f8184;
  font-size: 13px;
  margin: auto;
}

/* 상대방 페이지라 게시물만 표시 */
/* .banner3 {
  background-color: yellow;
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: solid 2px #7f8184;
  margin-left: 75px;
} */
.post-thumbnail3 {
  color: #7f8184;
  font-size: 13px;
  margin: auto;
}

.main-bottom {
  /* background-color: chartreuse; */
  width: 830px;
  height: 800px;
  margin: auto;
}

.ccc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-img {
  width: 260px;
  height: 260px;
  margin: 2px 7px;
}
.go-post {
  font: none;
}

/* 여기서부터 */
/* 사이드바 시작 */
.body-side-bar {
   background-color: white;
   float: left;
   width: 15%;
   height: 100%;
   position: fixed;
   border-right: 1px solid #dbdbdb;
}

@media screen and (max-width: 768px) {
   .body-side-bar {
      /*     font-size: 0px; */
      width: 80px;
   }
}

@media ( min-width : 10px) and (max-width: 700px) {
   .sidebar-name>a {
      display: none;
   }
}

.sidebar-menu {
       /* margin-top: 20px; */
    display: block;
    font-family: "GmarketSansMedium";
    display: block;
    padding-top: 17px;
    background-color: white;
    position: relative;
    z-index: 1;
    height: 100%;
}


.sidebar-ul {
   list-style: none;
   margin-top: 50px;
   margin-left: 30px;
   font-size: 17px;
   height: 530px;
}

.sidebar-ul i {
   margin-right: 21px;
   margin-left: 15px;
}

.sidebar-li {
   margin-bottom: 35px;
   /* height: 40px; */
   display: flex;
   align-items: center;
}

.sidebar-img {
   vertical-align: bottom;
   padding-right: 10px;
}

.sidebar-login {
   margin-left: 30px;
   list-style: none;
   margin-bottom: 20px;
}

.li-box {
   /* background-color: #44bae8; */
   width: 165px;
   height: 45px;
   margin-right: 5px;
   display: flex;
   align-items: center;
   border-radius: 20px;
}

.li-box:hover {
   background-color: #e7e9eb88;
}

.sidebar-img {
   vertical-align: bottom;
   padding-right: 10px;
   margin-left: 12px;
   width: 30px;
   height: 30px;
}
/* 사이드바 끝 */
/* 여기까지 */

.body-main-page {
  /* background-color: antiquewhite; */
  /* margin-left: 250px; */
  float: right;
  height: 100%;
  width: 85%;
}

.next-page {
  /* background-color: violet; */
  width: 830px;
  height: 40px;
  margin: auto;
}

/* 페이징 스타일 */
.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}

.paging > p {
  display: flex;
  list-style: none;
}

.paging a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  /* border-radius: 5px;
  border: 1px solid #888; */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.paging a:hover {
  /* background-color: #937062; */
  /* border-color: #937062; */
  color: #937062;
}

.paging .active {
  /* background-color: #333; */
  /* border-color: #333; */
  color: #937062;
}

.category-box .recipe-category a:hover {
  color: #937062;
  border-color: #937062;
}

footer {
  background: #aca4a4;
  margin-top: 30px;
  color: #fff;
  display: flex;
  width: 100%;
  height: 220px;
  align-items: center;
  flex-direction: column;
}

footer > div {
  /* width: 100%; */
  margin-left: 217px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-bottom {
  /* background: #746b6b; */
  /* width: 100%; */
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  margin-right: 49px;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}
/* @media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  } */

/* 팔로워 모달창 시작 */

/* 모달 창 스타일 */
.modal {
  display: none; /* 기본적으로 모달 창을 숨김 */
  position: fixed; /* 화면에 고정 */
  z-index: 1; /* 다른 요소 위에 표시 */
  left: 0;
  top: 0;
  width: 100%;
  height: 908px;
  overflow: auto; /* 스크롤 가능 */
  background-color: rgba(0, 0, 0, 0.4); /* 배경 어둡게 */
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 420px;
  /* display: flex; */
}

a {
  color: black;
  text-decoration: none;
}
.follower-cnt {
  /* background-color: chartreuse; */
  height: 50px;
  width: 110px;
  display: flex;
  align-items: center;
}
.follow-box {
  /* background-color: yellow; */
  width: 290px;
  height: 60px;
  display: flex;
}

.follower {
  font-size: 15px;
  cursor: pointer;
}

.cnt {
  font-weight: bolder;
}

.modal-header {
  /* background-color: blue; */
  width: 443px;
  height: 40px;
  display: flex;
}

.follower-name {
  font-weight: bolder;
  display: flex;
  text-align: center;
  width: 360px;
  margin-left: 21px;
  justify-content: space-around;
  align-items: center;
}

.follower-name2 {
  font-size: 20px;
  font: inherit;
}

/* 닫기 버튼 스타일 */
.close2,
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus,
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.main-page-tbb{
   font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}

.main {
  /* background-color: violet; */
  width: 418px;
  height: 350px;
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px solid #bcaeae;
  border-radius: 5px;
  flex-direction:column;
  padding-top:6px;
  overflow-y: scroll;
  
}

.main-following{
	 width: 418px;
  height: 350px;
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px solid #bcaeae;
  border-radius: 5px;
  flex-direction:column;
  padding-top:6px;
}

/* .main-page-box {
  width: 400px;
  height: 350px;
  border: 1px;
} */

.main-page-box {
  overflow-y: scroll; /* 세로 스크롤바 표시 */
  height: 348px; /* 높이 지정 */
}

.main-page {
  /* background-color: seashell; */
  width: 400px;
  height: auto;
  overflow: hidden auto;
  margin: auto;
}

.follower-box1 {
padding-bottom:6px;
border-bottom-style:inset;
	width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.follower-img {
  /* background-color: aqua; */
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.follower-img2 {
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

.follower-nickname {
  /* background-color: rgb(125, 22, 65); */
  width: 240px;
  height: 100%;
}

.follower-nickname-box {
  /* background-color: rgb(227, 17, 104); */
  width: 240px;
  height: 50%;
}

.follower-realname-box {
  /* background-color: rgb(26, 208, 13); */
  width: 240px;
  height: 50%;
  color: rgb(136, 129, 129);
}

.follower-cancel {
  /* background-color: rgb(201, 34, 181); */
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cancel-button {
  background-color: #e4d7d7;
  font-weight: bolder;
  width: 61px;
  height: 33px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.cancel-button:hover {
  background-color: #a89f9f;
}

.follower-box2 {
  /* background-color: orange; */
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}
button{
	border: none;
}
.follower-box3 {
  /* background-color: yellow; */
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.follower-box4 {
  /* background-color: green; */
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.follower-box5 {
  background-color: blue;
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.follower-box6 {
  background-color: darkblue;
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.follower-box7 {
  background-color: blueviolet;
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

/* 팔로워 모달창 끝 */

/* 팔로잉 모달창 시작 */
/* 모달 창 스타일 */
.modal2 {
  display: none; /* 기본적으로 모달 창을 숨김 */
  position: fixed; /* 화면에 고정 */
  z-index: 1; /* 다른 요소 위에 표시 */
  left: 0;
  top: 0;
  width: 100%;
  height: 908px;
  overflow: auto; /* 스크롤 가능 */
  background-color: rgba(0, 0, 0, 0.4); /* 배경 어둡게 */
}

/* 모달 내용 스타일 */
.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 420px;
  /* display: flex; */
}

a {
  color: black;
  text-decoration: none;
}
.following-cnt {
  /* background-color: chartreuse; */
  height: 50px;
  width: 110px;
  display: flex;
  align-items: center;
}
.following-box {
  /* background-color: yellow; */
  width: 290px;
  height: 60px;
  display: flex;
}

.following {
  font-size: 15px;
  cursor: pointer;
}

.cnt {
  font-weight: bolder;
}

.modal-header2 {
  /* background-color: blue; */
  width: 443px;
  height: 40px;
  display: flex;
}

.following-name {
  font-weight: bolder;
  display: flex;
  text-align: center;
  width: 360px;
  margin-left: 21px;
  justify-content: space-around;
  align-items: center;
}

.following-name2 {
  font-size: 20px;
  font: inherit;
}

/* 닫기 버튼 스타일 */
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

.main2 {
  /* background-color: violet; */
  width: 418px;
  height: 350px;
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px solid #bcaeae;
  border-radius: 5px;
}

/* .main-page-box {
  width: 400px;
  height: 350px;
  border: 1px;
} */

.main-page-box2 {
  overflow-y: scroll; /* 세로 스크롤바 표시 */
  height: 348px; /* 높이 지정 */
}

.main-page2 {
  /* background-color: seashell; */
  width: 400px;
  height: auto;
  overflow: hidden auto;
  margin: auto;
}

.following-box1 {
  /* background-color: red; */
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.following-img {
  /* background-color: aqua; */
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.following-img2 {
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

.following-nickname {
  /* background-color: rgb(125, 22, 65); */
  width: 240px;
  height: 100%;
}

.following-nickname-box {
  /* background-color: rgb(227, 17, 104); */
  width: 240px;
  height: 50%;
}

.following-realname-box {
  /* background-color: rgb(26, 208, 13); */
  width: 240px;
  height: 50%;
  color: rgb(136, 129, 129);
}

.following-cancel {
  /* background-color: rgb(201, 34, 181); */
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cancel-button2 {
  background-color: #e4d7d7;
  font-weight: bolder;
  width: 61px;
  height: 33px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.cancel-button2:hover {
  background-color: #a89f9f;
}

.following-box2 {
  /* background-color: orange; */
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.following-box3 {
  /* background-color: yellow; */
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.following-box4 {
  /* background-color: green; */
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.following-box5 {
  background-color: blue;
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.following-box6 {
  background-color: darkblue;
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

.following-box7 {
  background-color: blueviolet;
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 5px;
}

/* 팔로잉 모달창 끝 */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}


/* 사이드바 css수정 & 추가 */
.drop-down {
	border-radius: 12px;
	background-color: #ebedf0;
	height: 50px;
	border: none;
}

.search-box3 {
	display: flex;
	width: 100%;
	/* background-color: blue; */
	height: 126px;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid rgb(217, 209, 209);
}

.find-btn {
	width: 348px;
	height: 50px;
	font-size: 20px;
	background-color: #ebedf0;
	border-radius: 10px;
	border: none;
	padding-left: 20px;
}

.search-btn {
	background-color: #ebedf0;
	border-radius: 6px;
	width: 59px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.search-btn:hover {
	background-color: #cacdd2;
}

/* 사이드바 css수정 & 추가 */
.logo-img{
	width: 160px;
    height: 75px;
}

.sidebar-name {
	list-style: none;
	margin-top: 25px;
	margin-left: 30px;
	font-size: 30px;
	display: block;
	cursor: pointer;
	font-family: "Josefin Slab", serif;
}
	
	
.list-none{
	font-family: "Josefin Slab", serif;}
	
.h1{
	margin-top: 150px;
	text-align: center;
	font-size: 10px;
}

/* 검색창 */
.sub-find {
  background-color: white;
  width: 530px;
  height: 100%;
  position: absolute;
  top: 25px;
  left: -312px;
  border-right: 1px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.sub-find2 {
  background-color: white;
  width: 530px;
  height: 100%;
  position: absolute;
  top: 25px;
  left: -312px;
  border-right: 1px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.sub-find__close {
  left: 231px;
}
.sub-find2__close {
  left: 231px;
}

.qqq {
  font-size: 30px;
  padding-left: 21px;
  padding-top: 15px;
}

.search-box {
  /* background-color: yellow; */
  height: 200px;
  justify-content: space-around;
}
.search-box2 {
  /* background-color: yellow; */
  height: 75px;
  justify-content: space-around;
  border-bottom: 1px solid rgb(217, 209, 209);
}

.alarm {
  /* background-color: beige; */
  width: 100%;
  height: 75px;
}
.boxboxbox {
  height: 390px;
  width: 100%;
}
.boxboxbox2 {
  height: 390px;
  width: 100%;
}

.alarm-box {
  /* background-color: yellow; */
  width: 100%;
  height: 645px;
  overflow-y: scroll;
}

.new-alarm {
  width: 100%;
  height: 390px;
  border-bottom: 1px solid rgb(217, 209, 209);
  display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}
.new-alarm2 {
  width: 100%;
  height: 350px;
  border-bottom: 1px solid rgb(217, 209, 209);
}

/* .sub-find {
  transform: translateX(0px);
} */
/* .search-box3 {
  display: flex;
  width: 100%;
  background-color: blue;
  height: 126px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(217, 209, 209);
}

.find-btn {
  width: 465px;
  height: 50px;
  font-size: 20px;
  background-color: #ebedf0;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
} */

.find-btn:focus {
  outline: none;
}

.recent-searches {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.recent-searches2 {
  padding: 25px;
}

.recent-searches-box {
  /* background-color: yellow; */
  width: 100%;
  height: 660px;
  overflow-y: scroll;
}

.search-man {
  display: flex;
  width: 100%;
  /* background-color: green; */
  height: 70px;
  cursor: pointer;
}

.search-man:hover {
  background-color: #f5f8fb;
}

.alarm-btn {
  width: 68px;
  height: 30px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.alarm-btn:hover {
  background-color: #bfc1c4;
}

.man-left {
  display: flex;
  width: 122px;
  height: 100%;
  /* background-color: yellow; */
  align-items: center;
  justify-content: space-around;
}

.man-left2 {
  display: flex;
  width: 105px;
  height: 100%;
  /* background-color: yellow; */
  align-items: center;
  justify-content: space-around;
}

.man-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.man-right {
  /* background-color: red; */
  width: 291px;
  height: 100%;
}

.man-id {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  font-weight: bolder;
}

.alarm-date {
  padding-left: 26px;
  height: 30px;
  padding-top: 10px;
}
.alarm-date2 {
  /* background-color: rebeccapurple; */
  padding-left: 26px;
  height: 30px;
  padding-top: 10px;
}

.alarm-font {
  font-weight: bold;
  color: black;
}

.alarm-id {
  font-weight: normal;
  color: grey;
}

.alarm-right {
  width: 273px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* .man-id2 {
font-size: 20px;
font-weight: bold;
padding-left: 10px;
} */

.man-name {
  /* background-color: green; */
  width: 100%;
  height: 22px;
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  font-size: 12px;
  color: #8a8b8c;
}

/* .man-name2 {
padding-top: 5px;
} */

.delete-btn {
  /* background-color: yellow; */
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.delete-btn3 {
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.delete-btn2 {
  font-size: 30px;
  color: #aaa;
  padding-bottom: 10px;
  cursor: pointer;
}

.nones {
  display: none;
  /* transition: left 0.3s ease; */
  transition: transform 0.3s ease-in-out;
  transform: translateX(0px);
  /* transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1); */
}
