<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ingredient">

	<select id="getIngredientNumber"  resultType="IngredientDTO">
		select ingredient_number, ingredient_name, ingredient_category_number from tbl_ingredient
	</select>


	<select id="totalPrice" parameterType="RecipeIngredientDTO" resultType="_int">
		select ti.ingredient_price
		from tbl_ingredient ti
		join tbl_recipe_ingredient tri
		on ti .ingredient_number = tri.ingredient_number
		where tri.post_number = #{postNumber} and ti.ingredient_number = #{ingredientNumber} ;

	</select>
	
	<insert id="insert" parameterType="IngredientDTO">
		insert into tbl_ingredient
		(ingredient_name, ingredient_price, ingredient_smallest_unit, ingredient_category_number, ingredient_more_info)
		values(#{ingredientName}, #{ingredientPrice}, #{ingredientSmallestUnit}, #{ingredientCategoryNumber}, #{ingredientMoreInfo})
	</insert>
	
	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>
	
	

</mapper>









