<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manager">

	<select id="selectUserAll" parameterType="map" resultType="UserDTO">
		select user_number , user_id , user_name , user_email ,
		user_phone_number , user_gender ,user_status
		from tbl_user
		order by
		user_number desc
		limit #{startRow}, #{rowCount}
	</select>

	<select id="getUserTotal" resultType="_int">
		select count(user_number)
		from tbl_user
	</select>

	<delete id="deleteUser" parameterType="_int">
		delete from tbl_user
		where
		user_number=#{userNumber};
	</delete>

	<select id="managerLogin" parameterType="UserDTO"
		resultType="UserDTO">
		select user_number, user_status from tbl_User
		where User_id = #{userId} and User_password = #{userPassword}
	</select>

	<select id="checkManager" parameterType="_int"
		resultType="string">
		select user_status from tbl_User
		where user_number = #{managerNumber}
	</select>

	<select id="userSerch" parameterType="map" resultType="UserDTO">
		select user_number, user_id, user_name, user_email, user_phone_number, user_gender, user_status
		from tbl_user
		where user_id like concat('%', #{userIdOrName}, '%') or user_name like concat('%', #{userIdOrName}, '%')
		limit #{startRow}, #{rowCount}
	</select>

	<select id="getUserSerchTotal" parameterType="map" resultType="_int">
		select  count(user_number)  
		from tbl_user
		where user_id like concat('%', #{userIdOrName}, '%') or user_name like concat('%', #{userIdOrName}, '%')
	</select>

	<select id="getProfileInfo" parameterType="_int" resultType="ManagerVO">
		select u.user_number, u.user_id, count(p.post_number) as post_count, u.user_self_introduction,
  			max(upi.user_profile_original_name) as user_profile_original_name,
  			max(upi.user_profile_image_system_name) as user_profile_image_system_name,
  			(select count(follow_number) from tbl_follow where follow_number = u.user_number) as following_count,
  			(select count(following_number) from tbl_follow where following_number = u.user_number) as followers_count
		from tbl_user u
		left join tbl_post p on u.user_number = p.user_number
		left join tbl_user_profile_image upi on u.user_number = upi.user_number
		where u.user_number = #{managerNumber }
		group by u.user_number
	</select>

	<select id="selectPostAll" parameterType="map" resultType="PostVO">
		select p.post_number , p.post_title , u.user_id , p.post_view_count , p.post_date 
		from tbl_user u join tbl_post p
		on u.user_number = p.user_number
		order by
		p.post_number desc
		limit #{postStartRow}, #{rowCount}
	</select>

	<select id="getPostTotal" resultType="_int">
		select count(post_number)
		from tbl_post
	</select>

	<select id="postSerch" parameterType="map" resultType="PostVO">
		select p.post_number , p.post_title , u.user_id , p.post_view_count , p.post_date 
		from tbl_user u join tbl_post p
		on u.user_number = p.user_number
		where p.post_title like concat('%',#{postTitle}, '%')
		limit 	#{postStartRow}, #{rowCount}
	</select>

	<select id="getPostSerchTotal" parameterType="map" resultType="_int">
		select count(p.post_number) 
		from tbl_user u join tbl_post p
		on u.user_number = p.user_number
		where p.post_title like concat('%',#{postTitle}, '%')
	</select>
	
	<select id="selectOrderAll" parameterType="map" resultType="OrderVO">
		select order_number, o.user_number,u.user_id , order_date, order_address, order_message, order_total_cost, order_status, order_recipient
		from tbl_user u 
		right outer join tbl_order o
		on u.user_number=o.user_number
		order by
		o.order_number desc
		limit #{orderStartRow}, #{rowCount}
	</select>
	
	<select id="getOrderTotal" resultType="_int">
		select count(order_number)
		from tbl_order
	</select>
	
	<update id="orderStatusUpdate" parameterType="OrderDTO">
		update tbl_order
		set order_status= #{orderStatus}
		where order_number= #{orderNumber}	
	</update>




</mapper>