<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manager">

	<select id="selectUserAll" parameterType="map" resultType="UserDTO">
		select user_number , user_id , user_name , user_email ,
		user_phone_number , user_gender ,user_status
		from tbl_user
		order by
		user_number desc
		limit #{startRow}, #{rowCount}
	</select>

	<select id="getUserTotal" resultType="_int">
		select count(user_number)
		from tbl_user
	</select>

	<delete id="deleteUser" parameterType="_int">
		delete from tbl_user
		where
		user_number=#{userNumber};
	</delete>

	<select id="managerLogin" parameterType="UserDTO"
		resultType="UserDTO">
		select user_number, user_status from tbl_User
		where User_id = #{userId} and User_password = #{userPassword}
	</select>

	<select id="checkManager" parameterType="_int"
		resultType="string">
		select user_status from tbl_User
		where user_number = #{managerNumber}
	</select>

	<select id="userSerch" parameterType="string" resultType="UserDTO">
		select user_number , user_id , user_name , user_number , user_phone_number ,user_gender , user_status
		from tbl_user
		where user_id like %#{userIdOrName}% or user_name like %#{userIdOrName}%;
	</select>














</mapper>