<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderItem">

	<insert id="item" parameterType="OrderItemDTO">
	insert into tbl_order_item
	(order_number, ingredient_number, order_item_quantity)
	values(#{orderNumber}, #{ingredientNumber}, #{orderItemQuantity});
	</insert>

	<insert id="orderTotalCost" parameterType="OrderDTO">
	insert into tbl_order
	(user_number,order_total_cost)
	values(#{userNumber}, #{orderTotalCost});
	</insert>

</mapper>









