<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">


	<delete id="delete" parameterType="_int">
		delete from tbl_order where
		user_number = #{userNumber}
	</delete>


	<select id="orderInfo" parameterType="_int" resultType="UserDTO">
		<!-- 파라미터 타입은 #{}의 타입을 의미하고 리절트타입은 OrderVO 에서 가져온다는 말 -->
		select user_number, user_name,
		user_phone_number,
		user_email,user_address from tbl_user
		where user_number
		= #{userNumber}
	</select>


	<insert id="orderInsert" parameterType="string">
		insert into
		cookpang.tbl_order
		(order_address, order_message,
		order_recipient)
		values(#{orderAddress},
		#{orderMessage},#{orderRecipient})
	</insert>

	<!-- <select id="defaultOrderInfo" parameterType="_int" resultType="OrderVO"> 
		select tu.user_number, to2.order_total_cost, ti.ingredient_name , toi.order_item_quantity 
		,ti.ingredient_price ,tu.user_name ,tu.user_email ,tu.user_phone_number, 
		toi.order_number from tbl_user tu join tbl_order to2 on tu.user_number = 
		to2.user_number join tbl_order_item toi on toi.order_number = to2.order_number 
		join tbl_ingredient ti on ti.ingredient_number = toi.ingredient_number where 
		tu.user_number = #{userNumber}; </select> -->


	<select id="defaultOrderInfo" parameterType="_int"
		resultType="OrderVO">
		select oi.order_item_number , oi.order_number ,
		oi.ingredient_number , order_item_quantity ,
		i.ingredient_name ,
		i.ingredient_price
		from tbl_order_item oi
		join tbl_ingredient i ON
		order_number = #{orderNumber} and oi.ingredient_number =
		i.ingredient_number
	</select>

	<select id="getSequnce" resultType="_int">
		select last_insert_id()
	</select>

	<select id="cost" parameterType="_int" resultType="OrderDTO">
		select
		order_number , order_total_cost
		from tbl_order to2
		where order_number = #{orderNumber} ;
	</select>


</mapper>









