<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

	<!-- <insert id="payment" parameterType="PaymentDTO"> insert into cookpang.tbl_payment 
		(order_number, payment_amount, payment_date, payment_method) values (#{orderNumber}, 
		#{paymentAmount}, #{paymentDate}, #{paymentMethod}); </insert> -->


	<select id="postPayment" parameterType="_int"
		resultType="PostDTO">
		select post_number, post_thumbnail , post_title,
		post_content
		from
		tbl_post
		where post_number = #{postNumber}
	</select>


	<select id="paymentList" parameterType="map" resultType="PaymentVO">
		select oi.order_number, oi.order_item_quantity, i.ingredient_price * oi.order_item_quantity as order_item_price,
		o.order_date, o.order_status, i.ingredient_name, o.user_number,
		ii.ingredient_image_system_name
		from tbl_order o
		join tbl_order_item oi ON o.order_number = oi.order_number
		join tbl_ingredient i ON oi.ingredient_number = i.ingredient_number
		left join tbl_ingredient_image ii ON i.ingredient_number =
		ii.ingredient_number
		where o.user_number = #{userNumber}
		order by order_number
		limit #{startRow}, #{rowCount}

	</select>


	<select id="getTotalList" parameterType="_int" resultType="_int">
			select count(o.order_number)
		from tbl_order o
		join tbl_order_item toi 
	on o.order_number = toi.order_number and user_number = #{userNumber}
		
	</select>

</mapper>









