<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

<!-- 	<insert id="payment" parameterType="PaymentDTO">
		insert into cookpang.tbl_payment
		(order_number, payment_amount, payment_date, payment_method)
		values (#{orderNumber}, #{paymentAmount}, #{paymentDate}, #{paymentMethod});
	</insert> -->
	
	
	
	
</mapper>









