<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post">
	

	<insert id="insert" parameterType="PostDTO">
		insert tbl_post
(post_title, post_content, post_date, post_view_count, user_number)
values(#{postTitle}, #{postContent}, #{postDate}, #{postViewCount}, #{userNumber});
	</insert>
		
	
	
</mapper>









