<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="profileImage">
	<select id="selectImage" parameterType="_int" resultType="ProfileImageDTO">
		select user_profile_image_system_name, user_profile_original_name, user_number
		from tbl_user_profile_image
		where user_number = #{userNumber}
	</select>
	

	<insert id="insertImg" parameterType="ProfileImageDTO">
		insert into tbl_user_profile_image(user_profile_image_system_name, user_profile_original_name, user_number)
		values(#{userProfileImageSystemName}, #{userProfileOriginalName}, #{userNumber});
	</insert>
	
	<delete id="delete" parameterType="_int">
  	delete from tbl_user_profile_image
  	where user_number = #{userNumber}</delete>
  	
  	<update id="updateImg" parameterType="ProfileImageDTO">
  		update tbl_user_profile_image 
  		set user_profile_image_system_name = #{userProfileImageSystemName}, 
  		user_profile_original_name = #{userProfileOriginalName}
  		where user_number = #{userNumber}
  	</update>
		
</mapper>









